* {
    /* outline: dashed red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-dark-blue: #1F2937;
    --main-white: #F9FaF8;
    --secondary-white: #E5E7EB;
    --button-blue: #3882F6;


    font-family: 'Roboto';
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr min(1500px, calc(100% - 40px)) 1fr;
}
.container {
    grid-column: 2;
}
.section {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    min-height: 500px;
}

.bg-dark {
    background-color: var(--main-dark-blue);
    color: var(--main-white);
}

.bg-grey{
    background-color: var(--secondary-white);
}

.btn, .btn-secondary {
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}

.btn {
    background-color: var(--button-blue);
    color: var(--main-white);
}

.btn-secondary {
    border: 2px solid var(--main-white);
    color: var(--main-white);
    background-color: var(--button-blue);
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 32px;;
    background-color: var(--main-dark-blue);
}

.logo {
    font-size: 1.33rem;
}

.links ul {
    display: flex;
    gap: 16px;
    
}

.links ul a {
    text-decoration: none;
    color: var(--main-white);
}

.logo {
    color: var(--main-white);
}


/* Hero Section */

.hero > * {
    flex: 1;
    padding: 16px;
    margin: auto 0;
}

.heroText {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:16px;
}

.heroText h1 {
    color: var(--main-white);
    font-size: 2.6rem;
    line-height: 1.2;
    font-weight: 900;
}
.heroText p {
    color: var(--secondary-white);
    font-size: 1rem;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
}


/* Features Section */

.featureSection {
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    gap: 48px;
    max-width: 50rem;
    text-align: center;
}

.featureCard > .featureBox {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    border: medium solid var(--button-blue);
    border-radius: 16px;
}

/* Testimonial section */

.testimonialSection{
    flex-direction: column;
    align-items: center;
}

.testimonialCard {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* Call to action */
.ctaSection {
    display: flex;
    align-items: center;
    padding: 16px;
    min-height: 500px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    gap: 16px;
    background-color: var(--button-blue);
    color: var(--main-white);
    border-radius: 1rem;
    flex: 1;
}

/* Footer */
.footer {
    text-align: center;
    padding: 32px;
}